<p class='text-info' >Version simplificada de una web de tipo ecommerce para la venta de articulos de hogar</p>

                <div id='entorno_img'>
                    <div class='container-fluid'>
                        <div class='col-sm-8  col-md-6 pull-right col-sm-pull-1'><img class='img-responsive img-thumbnail' src='<?php echo DIR_FOLDER_APP?>images/muestrario_electrodomesticos.jpg' alt='imagen de las instalaciones' width='600' height='360' /></div>
                    </div>
                    <div class='container-fluid'>
                        <div class='col-sm-8 col-md-6 text-info text-right pull-right col-sm-pull-1'><strong>Muestra de productos</strong></div>
                    </div>
</div>